<html>
<head>
    <title>Website Disclaimer</title>
</head>
<body>
<div style="padding: 20px">
    <h3 class="mb-0" style="margin-top: 0.2em!important;">Disclaimers</h3>
    <p>All data and information is provided 'as is' for informational purposes only, and is not intended for trading
        purposes or financial, investment, tax, legal, accounting or other advice. Please consult your broker or
        financial representative to verify pricing before executing any trade. Clikinvesto.com is not an investment
        adviser, financial adviser or a securities broker. None of the data and information constitutes investment
        advice nor an offering, recommendation or solicitation by <span
                style="color: #148BCF;">Portfoliograph.com</span> to buy, sell or hold any security or financial
        product, and <span style="color: #148BCF;">Portfoliograph.com</span> makes no representation (and has no
        opinion) regarding the advisability or suitability of any investment.</p>
    <p>None of the data and information constitutes investment advice (whether general or customised). The financial
        products or operations referred to in such data and information may not be suitable for your investment profile
        and investment objectives or expectations. It is your responsibility to consider whether any financial product
        or operation is suitable for you based on your interests, investment objectives, investment horizon and risk
        appetite. <span style="color: #148BCF;">Portfoliograph.com</span> shall not be liable for any damages arising
        from any operations or investments in financial products referred to within. <span style="color: #148BCF;">Portfoliograph.com</span>
        does not recommend using the data and information provided as the only basis for making any investment decision.
    </p>
    <p>Data is provided by various sources, and then is processed by <span
            style="color: #148BCF;">Portfoliograph.com</span> to simulate various possible portfolios. The information
        may be delayed as specified by financial exchanges or other data providers. <span style="color: #148BCF;">Portfoliograph.com</span>
        does not verify any data and disclaims any obligation to do so.</p>
    <p><span style="color: #148BCF;">Portfoliograph.com</span>, its data or content providers, the financial exchanges
        and each of their affiliates and business partners (A) expressly disclaim the accuracy, adequacy, or
        completeness of any data and (B) shall not be liable for any errors, omissions or other defects in, delays or
        interruptions in such data, or for any actions taken in reliance thereon. Neither <span style="color: #148BCF;">Portfoliograph.com</span>
        nor any of our information providers will be liable for any damages relating to your use of the information
        provided herein. As used here, 'business partners' does not refer to an agency, partnership or joint venture
        relationship between <span style="color: #148BCF;">Portfoliograph.com</span> and any such parties.</p>
    <p>You agree not to copy, modify, reformat, download, store, reproduce, reprocess, transmit or redistribute any data
        or information found herein, or use any such data or information in a commercial enterprise without obtaining
        prior written consent.</p>
    <p>Neither <span style="color: #148BCF;">Portfoliograph.com</span> nor its third-party data or content providers
        have exclusive proprietary rights in the data and information provided.</p>
    <p>Advertisements presented on <span style="color: #148BCF;">Portfoliograph.com</span> are solely the responsibility
        of the party from whom the ad originates. Neither <span style="color: #148BCF;">Portfoliograph.com</span> nor
        any of its data licensors endorses or is responsible for the content of any advertisement or any goods or
        services offered therein.</p>
</div>
</body>
</html>