.custom-modal {
    width: 30% !important;
    height: 100% !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    margin: 0 !important;
    padding: 20px !important;
    overflow: auto !important;
    z-index: 10000 !important;
    /*box-sizing: border-box;*/
}

.custom-modal-inner {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    /*box-sizing: border-box;*/
}

#open-modal-button {
    position: relative;
    z-index: 9000;
}
